.container {
	min-height: 100vh;
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.header {
	text-align: center;
}

.searchForm {
	margin: 20px auto;
	display: flex;
	justify-content: center;
}

.searchForm input {
	padding: 0.3rem 0.5rem;
	font-size: 15px;
}

.loader {
	display: flex;
	min-width: 100vw;
	padding: 10px 0;
}

.loader > div {
	margin: 0 auto;
}

.video {
	width: 100%;
	border-radius: 0.5rem;
}
